tienda {background-color:teal; background-image: url("../images/logo.png"); background-repeat: no-repeat;}
marca {color:white; font-size: 300%; display:inline; margin-top: 5%; margin-left: 26%;}
slogan {color:white; font-size: 140%; display:block; margin-left: 26%;}

scambarshop {background-color:black; display:block; margin-top: 25%; margin-left:50%; background-image: url("../images/llaveros/4.png"); width: 610px;
  margin: 0 auto ;
  padding: 50px 60px;
  background-color:black;
  border-radius: 20px;
  text-align:left;}

productos {background-color:white; display:block; margin-top: 75%; margin-left: 10%; border: 2px solid #CCC;
  padding: 1em;
  margin: 0 0 20px;
  width: 600px;
  border-radius: 20px;
  text-align:left;}

titulo {color: white; font-size: 130%;}

info {color:blue; display:inline; font-size: 130%;}
cojines {color:black; display:list-item;  margin-left: 10%;}
llaveros   {color:black; display:list-item;  margin-left: 10%;}
tazas {color:black; display:list-item;  margin-left: 10%;}
otros  {color:black; display:list-item;  margin-left: 10%;}

redes {background-color:white; display:block;margin-top: 50%; margin-left: 10%; border: 2px solid #CCC;
  padding: 1em;
  margin: 0 0 20px;
  width: 600px;
  border-radius: 20px;
  text-align:left;}
  
  fanpage, enlace {color:blue; display:block;}

equipo {background-color:teal; display:block; border: 2px solid #CCC;
  padding: 1em;
  margin: 0 0 20px;
  width: 600px;
  border-radius: 20px;
 text-align:left;}
  
desarrollador {background-color:white; display:block;}
nombre {color:black; display:inline; margin-left: 10%;}
apellido {color:black; display:inline;  margin-left: 1%;}
carnet  {color:black; display: inline;  margin-left: 10%;}
