@font-face{
    font-family: "SoftMarshmallow";
    src: url(../fonts/SoftMarshmallow.otf);
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
     
    margin-top: 0;
    padding-top: 0;
    height: 100%;
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    position: relative;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:25px;
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f0f0f5;
    border: 5px solid #0C126D;
    min-height: 100%;
    border-radius: 25px;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    width: auto;
}

header {
    background: rgb(169,172,186); 
    background: -moz-linear-gradient(45deg, rgba(169,172,186,1) 0%, rgba(152,158,186,1) 0%, rgba(65,70,153,1) 51%, rgba(36,49,145,1) 89%, rgba(42,46,127,1) 100%); 
    background: -webkit-linear-gradient(45deg, rgba(169,172,186,1) 0%,rgba(152,158,186,1) 0%,rgba(65,70,153,1) 51%,rgba(36,49,145,1) 89%,rgba(42,46,127,1) 100%); 
    background: linear-gradient(45deg, rgba(169,172,186,1) 0%,rgba(152,158,186,1) 0%,rgba(65,70,153,1) 51%,rgba(36,49,145,1) 89%,rgba(42,46,127,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9acba', endColorstr='#2a2e7f',GradientType=1 ); 
    border-radius: 15px 15px 0 0;
}
.titulo {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.ajustar {
    width: 90px;
    height: 90px;
    padding: 5px;
}
.caption{
    float:right; 
    font-size:4.5rem;
    font-family: "SoftMarshmallow"
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
a:active {
    background-color: #0C126D;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14x 16x;
    text-decoration:none;
}

li a: hover, .dropdown:hover .dropbtn{
   background-color: #0C126D; 
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #0C126D}

.dropdown:hover .dropdown-content {
    display: block;
}
figure {
    display: block;
    padding: 0;
    margin: 0;
}
.alcenter{
	text-align: center;
	margin-bottom: 20px;
	background-color:#EFFBF5;
	width:100%;
	 color: #10CC24;
}

.right {
    float: right;
}

.carousel{
    width: 100%;
    position: relative;
    overflow: hidden;
    align-content: center;
    margin-bottom: 20px;
    padding: 0;
}
.mySlides{
    width: 850px !important;
    height: 360px!important;
    position: relative;
    display: none; 
    margin-bottom: 15px;   
}
.vid{
	width: 850px !important;
    height: 360px!important;	
}

.portafolio-container h3{
    color: #10CC24;
    text-align: center;
} 
.content-right{
    margin: 0;
    padding: 5px;
    float: left;
    width: 45%;
    height: 80%;
    background: rgba(0,0,0,0.9);
    color: #fff;
}
.content-left{
    padding: 5px;
    margin: 0;
    float: left;
    width: 45%;
    height: 80%;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: justify;
    font-size:  16px;
    
    position:relative;
}
.color_fondo{
	background-color:#EFFBF5;
}
.img-info{
    width: 450px;
    height: 250px;
    padding: 5px;
}
.social {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

footer {
    position: absolute;
    background: #0C126D;
    max-height: 80px;
    margin: 0 auto;
    padding-top: 24px;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.contactanos{
    color: white;
    margin:2px;
    padding-right: 15px;
}

img{
    width: 100%
}
.portafolio{
    width: 90%;
    max-width:1480px;
    margin: auto;
    position: relative;
    widows: auto;
}
.portafolio h1{

    color: #10CC24;
    text-align: center;
    font-size: 38px;
    margin: 15px 0px 40px;
}
.portafolio-container{
    
    display: flex;
    flex-wrap:wrap; 
    display: flex;
    justify-content: space-between;
    justify-content: space-around;

}
.portafolio-item{
    
    width: 30%;
    position: relative;
    overflow: hidden;
}
.portafolio-img{
    transition: all 0.5s;
}
.texto-contenido{
position: absolute;
bottom: 0;
padding: 20px;
background: rgba(0,0,0,0.7);
color: white;

transform: translateY(100%);
transition: all 0.5s ease-out;
}

.texto-contenido p{
text-align: justify;
}

.portafolio-item:hover .texto-contenido{
    transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
    transform: scale(1.15)
}

form {
  width: 550px;
  margin: 0 auto;
  padding: 50px 60px;
  background-color:#212529;
  border-radius: 20px;
  text-align:left;
}

fieldset {
  padding: 0 20px 20px;
  margin: 0 auto;
  border: 2px solid #ffffff;
  background: #B8B8B8 ;
  border-radius: 10px;
  text-align:left;
}


legend {
  color: #ffffff;
  background: #990033;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin: 0;
  width: 10em;
  border: 2px solid #660033;
  border-radius: 5px;
 }

b,i {color: #ffffff}
///contacto
.contenedor .form {
   font-weight: normal;
   font-family: sans-serif;
   color: #fff;
   text-align:center;
padding: 14px 0;
}


.informacion{
    background: rgba(0,0,0,.9);
    border-radius: 5px; 
    width: 58%;
    max-width: 100px;
    padding: 10px 35px;
    margin-top: 28px;
    padding-bottom: 28px;
    position: left;
}


.contenedor{
    background: rgba(0,0,0,.6);
    width: 98%;
    max-width: 1050px;
    margin: auto;
    padding: 30px 65px;
    margin-top: 68px;
    padding-bottom: 68px;
    border-radius: 5px;
}

.contenedor .form{
    background: rgba(0,0,0,.6);
    width: 98%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 38px;
    padding-bottom: 38px;
    border-radius: 3px;
}
.contenedor .form .form-label{
    display: block;
    color: #10CC24;
    font-size:  16px;
    font-family: Roboto;
    position:relative;
}

.contenedor .form .form-input, .form-textarea{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #10CC24;
    width: 100%;
    padding: 12px;
    margin-bottom: 28px;
    border-radius: 2px;
    font-size: 14px;
    color:#fff;
    font-family: Roboto;
}
.contenedor .form  .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: #10CC24;
    font-size: 16px;
    border: none;
    color:#fff;
    padding:15px;
    cursor: pointer;
    transition:all .5s;

}
.contenedor .form .btn-submit:hover{
    background: #f29718;
}

//mensaje exitoso

.contenedor .form .mensaje-exito .form-title{
    width: 100%;
    display: block;
    content: center;
    text-align:center;
    color-size: #fff;
}
.contenedor .form .mensaje-exito a{
    font-size: 35px;
    display:block;
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
}
.mensaje-exito a:hover{
    background: #10CC24;
}
///contacto
